.liquid {
	padding:10px 0 34px;
	position:relative;
}
.liquid .previous {
	background: url("../images/left.png") no-repeat scroll 9px 8px #e3e3e3;
    border-radius: 12px 0 0 12px;
    bottom: 9px;
    display: block;
    float: left;
    height: 26px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 146px;
    width: 24px;
    z-index: 100;
}
.liquid .next {
	 background: url("../images/right.png") no-repeat scroll 9px 8px #e3e3e3;
    bottom: 9px;
    display: block;
    height: 26px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 146px;
    width: 24px;
	border-radius:0 12px 12px 0;
}
.liquid ul li {
	/*width:288px;
	padding:0 0px 0 0;
	margin:0;*/
	text-align:center;
	/*border-radius:3px*/
}
.liquid ul li a{
	display:block;
	}

	
.liquid ul li a img {
	display: block;
    margin: 0 auto;
    padding:0;
	border:1px solid #fff;
	width:90%
	}
.liquid ul li a p {
	color: #fff;
    font-family:'astute_light_ssilight';
    font-size: 26px;
    font-weight: 600;
	padding:0;
	}

.carosel {
	margin:0 auto;
	float:none !important;
}